@font-face {
  font-family: 'Behind The Nineties';
  src: url('../font/behind-the-nineties-medium.otf');
  src: url('../font/behind-the-nineties-medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Behind The Nineties';
  src: url('../font/behind-the-nineties-medium-italic.otf');
  src: url('../font/behind-the-nineties-medium-italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Behind The Nineties';
  src: url('../font/behind-the-nineties-regular.otf');
  src: url('../font/behind-the-nineties-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Behind The Nineties';
  src: url('../font/behind-the-nineties-regular-italic.otf');
  src: url('../font/behind-the-nineties-regular-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}