@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import '../lib/css/bootstrap.min.scss';
@import '../css/font.scss';
@import '../css/datapicker.scss';

$white: #FFFFFF;
$black: #000000;
$dark: #0F1301;
$green: #F5C03D;
$light-green: #D8CEB7;
$light-brown: #9C937C;
$light-yellow: #D8CEB7;
$border-brown: #342A1F;

*{
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: $black;
    overscroll-behavior: none;
}

.container{
    max-width: 1350px;
    position: relative;
    z-index: 9;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, i, .family-behind{
    font-family: 'Behind The Nineties', sans-serif;
}

h1, .h1{
    font-size: 62px;
    line-height: 110%;
    font-weight: 400;
    letter-spacing: 0;
    color: $white;
    margin: 0;
    @media (max-width: 767px){
        font-size: 42px;
    }
    @media (max-width: 575px){
        font-size: 36px;
    }
}

h2, .h2{
    font-size: 54px;
    line-height: 110%;
    font-weight: 400;
    letter-spacing: 0;
    color: $white;
    margin: 0;
    @media (max-width: 767px){
        font-size: 36px;
    }
    @media (max-width: 575px){
        font-size: 26px;
    }
}

h3, .h3{
    font-size: 40px;
    line-height: 110%;
    font-weight: 400;
    color: $white;
    letter-spacing: 0;
    margin: 0;
    @media (max-width: 575px){
        font-size: 35px;
    }
    @media (max-width: 425px){
        font-size: 22px;
    }
}

h4, .h4{
    font-size: 22px;
    line-height: 120%;
    font-weight: 400;
    color: $white;
    letter-spacing: 0.01em;
    margin: 0;
    @media (max-width: 575px){
        font-size: 25px;
    }
    @media (max-width: 425px){
        font-size: 18px;
    }
}

h5, .h5{
    font-size: 17px;
    line-height: 140%;
    font-weight: 400;
    color: $white;
    letter-spacing: 0.02em;
    margin: 0;
    @media (max-width: 575px){
        font-size: 16px;
    }
}

h6,
.uppertitle{
    font-size: 12px;
    line-height: 140%;
    font-weight: 400;
    color: $white;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
    @media (max-width: 575px){
        font-size: 10px;
    }
}

strong{
    font-weight: 600;
}

p, .p{
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    color: $white;
    margin: 0;
    &.small{
        font-size: 11px;
    }
    &.smaller{
        font-size: 10px;
    }
    &.medium{
        font-size: 13px;
    }
    &.large{
        font-size: 18px;
    }
}

.white{
    color: $white;
}

.black{
    color: $black;
}

.dark{
    color: $dark
}

.light-green{
    color: $light-green;
}

.light-brown{
    color: $light-brown;
}

.light-yellow{
    color: $light-yellow;
}

a, a:hover{
    text-decoration: none;
}

ul,ol{
    margin: 0;
    padding-left: 6px;
    li{
        font-size: 10px;
        color: $light-yellow;
        position: relative;
        margin: 5px 0;
    }
}
ul{
    list-style: none;
    li{
        &::before{
            content: "";
            position: absolute;
            left: -8px;
            top: 3px;
            width: 5px;
            height: 5px;
            background-image: url('../public/images/list-rhom.svg');
            background-position: center;
            background-size: 3px;
            background-repeat: no-repeat;
        }
        ul{
            li{
                &::before{
                    background-image: url('../public/images/inner-list-rhom.svg');
                }
            }
        }
    }
}

.button{
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 11px 25px 10px;
    color: $dark;
    text-transform: uppercase;
    border-radius: 4px;
    background: linear-gradient(180deg, #D5A530 0%, #FFC431 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 0 25px rgba(218, 171, 52, 0.25);
    position: relative;
    cursor: pointer;
    transition: all .5s ease-in-out;
    &::before{
        content: "";
        position: absolute;
        pointer-events: none;
        inset: 2px;
        border-radius: 2px;
        border: 1px solid #FCCC53;
        transition: all .5s ease-in-out;
    }
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        background: url('../public/images/button-rhomb.svg'), url('../public/images/button-rhomb.svg');
        background-position: 7% center, 93% center;
        background-size: 5px, 5px;
        background-repeat: no-repeat, no-repeat;
    }
    &:hover{
        color: $dark;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0 0 35px rgba(218, 171, 52, 0.55);
        &::before{
            inset: 0;
            border-radius: 4px;
        }
    } 
    &:focus,
    &:visited,
    &:focus-visible{
        box-shadow: none;
        outline: none;
    }  
}

.wrapper-site{
    position: relative;
}

.noise{
    z-index: 999;
    opacity: .10;
    pointer-events: none;
    mix-blend-mode: overlay;
    background-image: url('../public/images/grain.png');
    background-position: 0 0;
    background-size: 50%;
    position: absolute;
    inset: 0%;
}

section{
    position: relative;
    padding: 100px 0;
}

// Hero
#hero{
    padding: 30px 0;
    min-height: 800px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &::after,
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        opacity: 90%;
        background: linear-gradient(0deg, 
        #0B0D02 0%, 
        rgba(11, 13, 2, 0.35) 35%, 
        rgba(11, 13, 2, 0.25) 45%, 
        rgba(11, 13, 2, 0.20) 55%, 
        rgba(11, 13, 2, 0.35) 65%, 
        #0B0D02 100%
        );
        z-index: 1;
        pointer-events: none;
    }
    &::after{
        opacity: 70%;
        background: linear-gradient(0deg, 
        #111A12 0%, 
        #111A1200 35%
        );
    }
    .video-background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .chamana-text{
        position: absolute;
        bottom: -75px;
        left: 50%;
        transform: translateX(-50%);
        mix-blend-mode: overlay;
        opacity: .3;
        pointer-events: none;
        z-index: 2;
    }
    .container{
        min-height: 740px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .inner-top-hero{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .inner-flex{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            &:first-child{
                justify-content: flex-start;
            }
            &:last-child{
                justify-content: flex-end;
            }
            .lenguage-selector{
                display: flex;
                align-items: center;
                gap: 20px;
                .lang-button{
                    font-size: 11px;
                    letter-spacing: 0.03em;
                    border: 0;
                    box-shadow: none;
                    outline: 0;
                    appearance: none;
                    background-color: transparent;
                    width: 35px;
                    height: 35px;
                    color: $white;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    position: relative;
                    opacity: 40%;
                    &::after{
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        inset: 0;
                        border: 2px solid $green;
                        transform: rotate(45deg) scale(1);
                        transition: all .3s ease-in-out;
                        opacity: 0;
                    }
                    &:hover{
                        opacity: 100%;
                    }
                    &.active{
                        opacity: 100%;
                        &::after{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .inner-content{
        max-width: 770px;
        margin: 0 auto;
        text-align: center;
    }
    .inner-bottom-hero{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .inner-flex{
            width: 65%;
        }
        .inner-video-preview{
            width: 100%;
            max-width: 300px;
            display: flex;
            align-items: center;
            gap: 16px;
            border-radius: 8px;
            background-color: $dark;
            border: 1px solid $dark;
            padding: 4px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover{
               transform: scale(1.02);
                box-shadow: 0 0 33px rgba(218, 171, 52, 0.15);
                border-color: rgba(218, 171, 52, 0.33);
            }
            .inner-video-holder{
                position: relative;
                min-width: 135px;
                max-width: 135px;
                max-height: 75px;
                min-height: 75px;
                border-radius: 4px;
                overflow: hidden;
                .video-preview{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    inset: 0;
                    object-fit: cover;
                }
                .play-icon{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.modal-backdrop{
    background-color: #0F1301;
    &.show{
        opacity: 0.8;
    }
}
.modal{
    .modal-dialog{
        max-width: 55vw;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .modal-content{
            border: 0;
            background-color: initial;
            border-radius: 0;
            border-radius: 8px;
            padding: 16px;
            background-color: rgba(11, 13, 2, 0.8);
            backdrop-filter: blur(5px);
            border: 1px solid #F5C03D;
            .modal-body{
                padding: 0;
                line-height: 0;
                video{
                    border-radius: 6px;
                    overflow: hidden;
                    width: 100%;
                    line-height: 0;
                }
            }
        }
    }
}

#places{
    padding: 70px 0;
    background: url('../public/images/places-bg.jpg'), linear-gradient(180deg, #121C13 0%, #081309 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    .inner-holder-content{
        max-width: 1310px;
        margin: 0 auto;
        border: 1px solid $green;
        border-radius: 6px;
        padding: 100px 0;
        position: relative;
        &::before,
        &::after{
            content: "";
            width: 50px;
            height: 25px;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            top: -13px;
            background: url('../public/images/decor-rhomb.svg'), #121b12;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;
        }
        &::after{
            top: initial;
            bottom: -13px;
            background-color: #0a140b;
        }
        .inner-top-area{
            margin-bottom: 70px;
            h2{
                max-width: 700px;
                margin: 0 auto 10px; 
            }
        }
        .inner-place-block{
            max-width: 340px;
            margin: 0 auto;
            img{
                margin-bottom: 10px;
            }
            &.is-small{
                max-width: 270px;
            }
            &.is-middle{
                border-left: 1px solid $border-brown;
                border-right: 1px solid $border-brown;
            }
        }
    }
}

#spaces{
    padding: 0;
    display: flex;
    align-items: stretch;
    .spaces-side,
    .action-side{
        width: 50%;
        min-height: 800px;
        padding: 70px 0;
    }
    .spaces-side{
        padding-right: 30px;
        background-color: $light-green;
        .inner-content{
            height: 100%;
            max-width: 630px;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .inner-spaces{
                display: flex;
                flex-wrap: wrap;
                gap: 40px 30px;
                .inner-space{
                    width: 25%;
                    max-width: 125px;
                    img{
                        margin-bottom: 15px;
                    }
                    h5{
                        color: $dark;
                        margin-bottom: 10px;
                    }
                    p{
                        color: $dark;
                    }
                }
            }
        }
    }
    .action-side{
        background-color: #121C13;
        padding-left: 30px;
        background-image: url('../public/images/action-side-image.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .inner-content{
            height: 100%;
            max-width: 630px;
            margin-right: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .rhomb{
                margin-bottom: 25px;
            }
            h3{
                max-width: 450px;
                margin: 0 auto 35px;
            }
        }
    }
    @media(min-width: 1441px){
        .action-side{
            background-position: center left;
            background-size: 660px;
        }
    }
}

#gallery{
    padding: 50px 0;
    min-height: 800px;
    background-image: url('../public/images/gallery-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        max-width: 1600px;
        margin: 0 auto;
        background: linear-gradient(90deg, #000000 10%, #00000000 33%, #00000000 66%, #000000 90%);
        pointer-events: none;
        opacity: 0;
    }
    .container{
        min-height: calc(800px - 100px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .inner-flex{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .browse-gallery{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            h4{
                transition: all .3s ease-in-out;
            }
            .plus-button{
                display: block;
                color: $white;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 40px;
                font-weight: 100;
                position: relative;
                transition: all .3s ease-in-out;
                &::after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    inset: 0;
                    border: 2px solid $green;
                    transform: rotate(45deg) scale(1);
                    transition: all .3s ease-in-out;
                }
            }
            &:hover{
                h4{
                    color: $green;
                }
                .plus-button{
                    color: $green;
                    &::after{
                        transform: rotate(-45deg) scale(.85);
                    }
                }
            }
        }
        h4{
            max-width: 330px;
        }
    }
    @media(min-width: 1441px){
        background-size: 1600px;
        &::after{
            opacity: 1;
        }
    }
}

#bookings{
    padding: 75px 0;
    min-height: 800px;
    background-image: url('../public/images/booking-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        max-width: 1600px;
        margin: 0 auto;
        background: linear-gradient(90deg, #000000 10%, #00000000 33%, #00000000 66%, #000000 90%);
        pointer-events: none;
        opacity: 0;
    }
    .container,
    .row{
        min-height: 675px;
    }
    .inner-left-content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .inner-flex{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .inner-villa-disclaimer{
            max-width: 470px;
        }
    }
    .wrapper-nights-card{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        .nights-card{
            width: 100%;
            max-width: 630px;
            margin: 0 0 0 auto;
            padding: 30px;
            background-color: rgba(11, 13, 2, 0.8);
            border: 1px solid $border-brown;
            border-radius: 8px;
            backdrop-filter: blur(5px);
            display: flex;
            align-items: center;
            gap: 30px;
            .inner-night-title{
                text-align: center;
                max-width: 265px;
                .d-flex{
                    gap: 3px;
                    margin-bottom: 15px;
                }
                h4{
                    margin-bottom: 15px;
                }
            }
            .divider{
                align-self: stretch;
                width: 1px;
                background-color: $border-brown;
            }
        }
    }
    @media(min-width: 1441px){
        background-size: 1600px;
        &::after{
            opacity: 1;
        }
    }
}

#form{
    padding: 135px 0;
    background-image: url('../public/images/form-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        max-width: 1600px;
        margin: 0 auto;
        background: linear-gradient(90deg, #000000 10%, #00000000 33%, #00000000 66%, #000000 90%);
        pointer-events: none;
        opacity: 0;
    }
    .wrapper-form{
        max-width: 600px;
        margin: 0 auto;
        border-radius: 8px;
        padding: 50px 20px; 
        background-color: rgba(11, 13, 2, 0.8);
        backdrop-filter: blur(5px);
        text-align: center;
        position: relative;
        .inner-border-form{
            position: absolute;
            width: 97%;
            height: 97%;
            border: 1px solid $green;
            border-radius: 6px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }
        .inner-top-area{
            max-width: 450px;
            margin: 0 auto 40px;
            position: relative;
            &::before,
            &::after{
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                top: 11px;
                left: -20px;
                background: url('../public/images/decor-rhomb.svg');
                background-position: center;
                background-size: 20px;
                background-repeat: no-repeat;
            }
            &::after{
                left: auto;
                right: -20px;
            }
            img{
                margin-bottom: 30px;
            }
            h3{
                margin-bottom: 10px;
            }
            p{
                color: $light-brown;
            }
        }
        form{
            max-width: 490px;
            margin: 0 auto;
            .row-field{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                margin: 10px 0;
                .row-field{
                    margin: 0;
                }
                input:not(.button),
                textarea{
                    margin-top: 5px;
                    width: 100%;
                }
            }
            input:not(.button),
            textarea{
                background-color: #121C13;
                border: 1px solid $border-brown;
                border-radius: 4px;
                outline: 0;
                box-shadow: none;
                padding: 8px 14px;
                color: $white;
                transition: all .3s ease-in-out;
                &::placeholder{
                    color: $light-brown;
                }
                &:hover{
                    border: 1px solid rgba(201, 169, 95, 0.30);
                }
            }
            ::-webkit-calendar-picker-indicator { 
                background: url('../public/images/date-icon.svg');
                background-position: center;
                background-size: 12px;
                background-repeat: no-repeat;
            }
            textarea{
                min-height: 120px;
                resize: none;
            }
            .label,
            label{
                font-size: 11px;
                color: $light-brown;
                text-align: left;
            }
            label{
                width: 100%;
            }
            .wrapper-submit{
                margin-top: 10px;
                position: relative;
                .inner-border{
                    content: "";
                    position: absolute;
                    pointer-events: none;
                    inset: 2px;
                    border-radius: 2px;
                    border: 1px solid $white;
                    opacity: .33;
                    transition: all .5s ease-in-out;
                }
                &:hover{
                    .inner-border{
                        inset: 0;
                        opacity: .5;
                        border-radius: 4px;
                    }
                }
            }
            input.button{
                outline: none;
                border: 0;
            }
        }
    }
    @media(min-width: 1441px){
        background-size: 1600px;
        &::after{
            opacity: 1;
        }
    }
}

footer{
    padding: 30px 0;
    background-color: #121C13;
    .inner-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .inner-logo{
            width: 25%;
        }
        .inner-description{
            width: 50%;
            text-align: center;
        }
        .inner-social{
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;
            .inner-social-icons{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
            }
        }
    }
}