@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import '../lib/css/bootstrap.min.scss';
@import '../css/font.scss';
@import '../css/datapicker.scss';

$white: #FFFFFF;
$black: #000000;
$dark: #0F1301;
$green: #F5C03D;
$dark-green: #121C13;
$light-green: #D8CEB7;
$light-brown: #9C937C;
$light-yellow: #D8CEB7;
$border-brown: #342A1F;

*{
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: $black;
    overscroll-behavior: none;
}

.container{
    max-width: 1350px;
    position: relative;
    z-index: 9;
    &.small{
        max-width: 1110px;
    }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, i, .family-behind{
    font-family: 'Behind The Nineties', sans-serif;
}

h1, .h1{
    font-size: 62px;
    line-height: 110%;
    font-weight: 400;
    letter-spacing: 0;
    color: $white;
    margin: 0;
    @media (max-width: 767px){
        font-size: 38px;
    }
    @media (max-width: 575px){
        font-size: 36px;
    }
}

h2, .h2{
    font-size: 54px;
    line-height: 110%;
    font-weight: 400;
    letter-spacing: 0;
    color: $white;
    margin: 0;
    @media (max-width: 767px){
        font-size: 32px;
    }
    @media (max-width: 575px){
        font-size: 30px;
    }
}

h3, .h3{
    font-size: 40px;
    line-height: 110%;
    font-weight: 400;
    color: $white;
    letter-spacing: 0;
    margin: 0;
    @media (max-width: 575px){
        font-size: 26px;
    }
}

h4, .h4{
    font-size: 22px;
    line-height: 120%;
    font-weight: 400;
    color: $white;
    letter-spacing: 0.01em;
    margin: 0;
    @media (max-width: 767px){
        font-size: 18px;
    }
    @media (max-width: 575px){
        font-size: 16px;
    }
}

h5, .h5{
    font-size: 17px;
    line-height: 140%;
    font-weight: 400;
    color: $white;
    letter-spacing: 0.02em;
    margin: 0;
}

h6,
.uppertitle{
    font-size: 12px;
    line-height: 140%;
    font-weight: 400;
    color: $white;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
    @media (max-width: 575px){
        font-size: 10px;
    }
}

strong{
    font-weight: 600;
}

p, .p{
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    color: $white;
    margin: 0;
    &.small{
        font-size: 11px;
    }
    &.smaller{
        font-size: 12px;
    }
    &.medium{
        font-size: 13px;
    }
    &.large{
        font-size: 18px;
    }
}

.white{
    color: $white;
}

.black{
    color: $black;
}

.dark{
    color: $dark
}

.green{
    color: $green;
}

.dark-green{
    color: $dark-green;
}

.light-green{
    color: $light-green;
}

.light-brown{
    color: $light-brown;
}

.light-yellow{
    color: $light-yellow;
}

a, a:hover{
    text-decoration: none;
}

ul,ol{
    margin: 0;
    padding-left: 6px;
    li{
        font-size: 12px;
        color: $light-yellow;
        position: relative;
        margin: 5px 0;
        i{
            font-family: "DM Sans", sans-serif;
        }
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}
ul{
    list-style: none;
    li{
        &::before{
            content: "";
            position: absolute;
            left: -8px;
            top: 6px;
            width: 5px;
            height: 5px;
            background-image: url('../public/images/list-rhom.svg');
            background-position: center;
            background-size: 3px;
            background-repeat: no-repeat;
        }
        ul{
            li{
                &::before{
                    background-image: url('../public/images/inner-list-rhom.svg');
                }
                &:first-child{
                    margin-top: 5px;
                }
            }
        }
    }
}

.button{
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.2em;
    padding: 11px 25px 10px;
    color: $dark;
    text-transform: uppercase;
    border-radius: 4px;
    background: linear-gradient(180deg, #D5A530 0%, #FFC431 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 0 25px rgba(218, 171, 52, 0.25);
    position: relative;
    cursor: pointer;
    transition: all .5s ease-in-out;
    &::before{
        content: "";
        position: absolute;
        pointer-events: none;
        inset: 2px;
        border-radius: 2px;
        border: 1px solid #FCCC53;
        transition: all .5s ease-in-out;
    }
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        background: url('../public/images/button-rhomb.svg'), url('../public/images/button-rhomb.svg');
        background-position: 5% center, 95% center;
        background-size: 5px, 5px;
        background-repeat: no-repeat, no-repeat;
        pointer-events: none;
    }
    &:hover{
        color: $dark;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.35), 0 0 35px rgba(218, 171, 52, 0.55);
        &::before{
            inset: 0;
            border-radius: 4px;
        }
    } 
    &:focus,
    &:visited,
    &:focus-visible{
        box-shadow: none;
        outline: none;
    }  
}

.wrapper-site{
    position: relative;
}

.noise{
    z-index: 999;
    opacity: .10;
    pointer-events: none;
    mix-blend-mode: overlay;
    background-image: url('../public/images/grain.png');
    background-position: 0 0;
    background-size: 50%;
    position: absolute;
    inset: 0%;
}

section{
    position: relative;
    padding: 100px 0;
}

// Hero
#hero{
    padding: 30px 0;
    min-height: 800px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $dark;
    &::after,
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        opacity: 100%;
        background: linear-gradient(0deg, 
        #0B0D02 0%, 
        rgba(11, 13, 2, 0.45) 35%, 
        rgba(11, 13, 2, 0.35) 45%, 
        rgba(11, 13, 2, 0.30) 55%, 
        rgba(11, 13, 2, 0.45) 65%, 
        rgba(11, 13, 2, 0.70) 100%
        );
        z-index: 2;
        pointer-events: none;
    }
    &::after{
        opacity: 100%;
        background: linear-gradient(0deg, 
        #D8CEB7 0%, 
        #d8ceb710 35%,
        #d8ceb700 100%
        );
    }
    .video-background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        pointer-events: none;
    }
    .chamana-text{
        position: absolute;
        bottom: -75px;
        left: 50%;
        transform: translateX(-50%);
        mix-blend-mode: overlay;
        opacity: .5;
        pointer-events: none;
        z-index: 2;
    }
    .container{
        min-height: 740px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .inner-top-hero{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .inner-flex{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px 20px;
            img{
                max-width: 150px;
            }
            &:first-child{
                justify-content: flex-start;
            }
            &:last-child{
                justify-content: flex-end;
            }
            .lenguage-selector{
                display: flex;
                align-items: center;
                gap: 20px;
                .lang-button{
                    font-size: 11px;
                    letter-spacing: 0.03em;
                    border: 0;
                    box-shadow: none;
                    outline: 0;
                    appearance: none;
                    background-color: transparent;
                    width: 35px;
                    height: 35px;
                    color: $white;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    position: relative;
                    opacity: 40%;
                    &::after{
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        inset: 0;
                        border: 2px solid $green;
                        transform: rotate(45deg) scale(1);
                        transition: all .3s ease-in-out;
                        opacity: 0;
                    }
                    &:hover{
                        opacity: 100%;
                    }
                    &.active{
                        opacity: 100%;
                        &::after{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .inner-content{
        max-width: 770px;
        margin: 0 auto;
        text-align: center;
    }
    .inner-bottom-hero{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .inner-flex{
            max-width: 650px;
            h4{
                color: $dark-green;
            }
        }
        .inner-video-preview{
            width: 100%;
            max-width: 310px;
            display: flex;
            align-items: center;
            gap: 16px;
            border-radius: 8px;
            background-color: $dark;
            border: 1px solid $dark;
            padding: 4px 8px 4px 4px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover{
               transform: scale(1.02);
                box-shadow: 0 0 33px rgba(218, 171, 52, 0.15);
                border-color: rgba(218, 171, 52, 0.33);
            }
            .inner-video-holder{
                position: relative;
                min-width: 135px;
                max-width: 135px;
                max-height: 75px;
                min-height: 75px;
                border-radius: 4px;
                overflow: hidden;
                .video-preview{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    inset: 0;
                    object-fit: cover;
                }
                .play-icon{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    @media (max-width: 991px){
        .inner-top-hero{
            .inner-flex{
                width: auto;
                flex-wrap: wrap;
            }
        }
    }
    @media (max-width: 767px){
        min-height: 500px;
        .container{
            min-height: 500px;
        }
        .inner-top-hero{
            .inner-flex{
                width: 33%;
            }
            img{
                max-width: 120px;
            }
            p.h5{
                display: none;
            }
        }
        .inner-bottom-hero{
            flex-direction: column;
            gap: 20px;
            .inner-flex{
                width: auto;
                text-align: center;
            }
        }
    }
    @media (max-width: 575px){
        padding: 15px 0 50px;
        .inner-top-hero{
            align-items: center;
            .inner-flex{
                width: auto;
            }
        }     
    }  
    @media (max-width: 425px){
        min-height: auto;
        .container{
            min-height: auto;
        }
        .inner-top-hero{
            .inner-flex{
                img{
                    max-width: 100px;
                }
            }
        }
        .inner-content{
            margin: 60px auto 80px;
            max-width: 300px;
            h1{
                br{
                    display: none;
                }
            }
        }
        .inner-bottom-hero{
            max-width: 300px;
            margin: 0 auto;
        }
    } 
}

.modal-backdrop{
    background-color: $dark-green;
    &.show{
        opacity: 0.9;
    }
}
.modal.fade .modal-dialog {
  transform: scale(0.90);
  transition: transform 0.5s ease-out;
}
.modal.show .modal-dialog {
  transform: scale(1);
}

.modal{
    .modal-dialog{
        max-width: 55vw;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .modal-content{
            border: 0;
            background-color: initial;
            background-color: rgba(11, 13, 2, 0.8);
            backdrop-filter: blur(5px);
            padding: 8px;
            border: 1px solid #F5C03D;
            border-radius: 6px;
            .modal-body{
                padding: 0;
                line-height: 0;
                video{
                    border-radius: 4px;
                    overflow: hidden;
                    width: 100%;
                    line-height: 0;
                }
            }
        }
    }
    &.is-gallery{
        padding: 0 15px;
        .modal-dialog{
            max-width: 880px;
            .modal-content{
                border-radius: 0;
                padding: 0;
                background-color: transparent;
                backdrop-filter: none;
                border: 0;
                h4{
                    text-align: center;
                    margin-bottom: 15px;
                }
            }
        }
    }
    @media(max-width: 767px){
        .modal-dialog{
            max-width: 90vw;
        }
    }
}

.carousel{
    max-width: 719px;
    margin: 0 auto;
    .carousel-inner{
        .carousel-item{
            padding: 8px;
            border: 1px solid $green;
            border-radius: 6px;
            img{
                border-radius: 4px;
                width: 100%;
            }
        }
    }
    .carousel-control-prev{
        left: -10%;
    }
    .carousel-control-next{
        right: -10%;
    }
    .carousel-control-prev,
    .carousel-control-next{
        width: auto;
        .carousel-control-prev-icon,
        .carousel-control-next-icon{
            display: none;
        }
    }
    @media(max-width: 991px){
        .carousel-control-prev,
        .carousel-control-next{
            top: auto;
            right: auto;
            bottom: -70px;
            left: 50%;
            transform: translateX(-50%);
        }
        .carousel-control-prev{
            left: 40%;
        }
        .carousel-control-next{
            left: 60%;
        }
    }
}

#places{
    padding: 70px 15px;
    background: url('../public/images/places-bg.webp'), $dark-green;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    .inner-holder-content{
        max-width: 1310px;
        margin: 0 auto;
        border: 1px solid $green;
        border-radius: 6px;
        padding: 100px 0;
        position: relative;
        &::before,
        &::after{
            content: "";
            width: 50px;
            height: 25px;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            top: -13px;
            background: url('../public/images/decor-rhomb.svg'), #121b12;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;
        }
        &::after{
            top: initial;
            bottom: -13px;
        }
        .inner-top-area{
            margin-bottom: 70px;
            h2{
                max-width: 700px;
                margin: 0 auto 10px; 
            }
        }
        .inner-place-block{
            max-width: 340px;
            margin: 0 auto;
            img{
                margin-bottom: 10px;
            }
            &.is-small{
                max-width: 270px;
            }
            &.is-middle{
                padding: 0 20px;
                border-left: 1px solid $border-brown;
                border-right: 1px solid $border-brown;
            }
        }
    }
    @media(min-width: 1441px){
        background-size: 1440px, cover;
    }
    @media (max-width: 767px){
        .inner-holder-content{
            .inner-place-block{
                &.is-middle{
                    padding: 0;
                    border-left: 0;
                    border-right: 0;
                }
            }
        }
    }
    @media (max-width: 575px){
        .inner-holder-content{
            padding: 50px 20px;
            .inner-top-area{
                margin-bottom: 0;
            }
            .inner-place-block{
                margin-top: 30px;
            }
        }
    }
    @media (max-width: 425px){
        padding: 35px 25px;
        .inner-holder-content{
            padding: 40px 0;
            .inner-place-block{
                img{
                    max-width: 55px;
                }
            }
        }
    }
}

#spaces{
    padding: 0;
    display: flex;
    align-items: stretch;
    .spaces-side,
    .action-side{
        width: 50%;
        min-height: 800px;
        padding: 70px 0;
    }
    .spaces-side{
        padding-right: 30px;
        padding-left: 15px;
        background-color: $light-green;
        .inner-content{
            height: 100%;
            max-width: 630px;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .inner-spaces{
                display: flex;
                flex-wrap: wrap;
                gap: 40px 4%;
                .inner-space{
                    width: 25%;
                    max-width: 125px;
                    img{
                        margin-bottom: 15px;
                    }
                    h5{
                        color: $dark;
                        margin-bottom: 10px;
                    }
                    p{
                        color: $dark;
                    }
                }
            }
        }
    }
    .action-side{
        background-color: $dark-green;
        padding-left: 60px;
        padding-right: 15px;
        background-image: url('../public/images/action-side-image.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .inner-content{
            height: 100%;
            max-width: 600px;
            margin-right: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid $green;
            border-radius: 6px;
            padding: 100px 0;
            position: relative;
            .rhomb{
                margin-bottom: 25px;
            }
            h3{
                max-width: 450px;
                margin: 0 auto 35px;
            }
        }
    }
    @media(max-width: 1200px){
        flex-wrap: wrap;
        .spaces-side,
        .action-side{
            width: 100%;
            min-height: auto;
        }
        .spaces-side{
            padding-right: 15px;
            .inner-content{
                margin: 0 auto;
                max-width: none;
                h2{
                    max-width: 600px;
                    margin: 0 auto;
                }
                .inner-spaces{
                    margin-top: 40px;
                    justify-content: center;
                    .inner-space{
                        max-width: 200px;
                    }
                }
            }
        }
        .action-side{
            min-height: 500px;
            padding-left: 15px;
            .inner-content{
                margin: 0 auto;
                border: 0;
            }
        }
    }
    @media(max-width: 575px){
        .spaces-side{
            .inner-content{
                .inner-spaces{
                    .inner-space{
                        width: 45%;
                        max-width: none;
                    }
                }
            }
        }
        .action-side{
            .inner-content{
                h3{
                    max-width: 280px;
                }
            }
        }
    }
    @media(max-width: 425px){
        .spaces-side{
            .inner-content{
                .inner-spaces{
                    justify-content: space-between;
                    .inner-space{
                        h5{
                            br{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .action-side{
            min-height: 400px;
            .inner-content{
                h3{
                    max-width: 290px;
                }
            }
        }
    }
}

#gallery{
    padding: 50px 0;
    min-height: 800px;
    background-image: url('../public/images/gallery-image.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        max-width: 1600px;
        margin: 0 auto;
        background: linear-gradient(90deg, #000000 10%, #00000000 33%, #00000000 66%, #000000 90%);
        pointer-events: none;
        opacity: 0;
    }
    .container{
        min-height: calc(800px - 100px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .inner-flex{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &.is-bottom{
            align-items: flex-end;
        }
        .browse-gallery{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            h4{
                transition: all .3s ease-in-out;
            }
            .plus-button{
                display: block;
                color: $white;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 40px;
                font-weight: 100;
                position: relative;
                transition: all .3s ease-in-out;
                &::after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    inset: 0;
                    border: 2px solid $green;
                    margin-top: 2px;
                    transform: rotate(45deg) scale(1);
                    transition: all .3s ease-in-out;
                }
            }
            &:hover{
                h4{
                    color: $green;
                }
                .plus-button{
                    color: $green;
                    &::after{
                        transform: rotate(-45deg) scale(.85);
                    }
                }
            }
        }
        > div{
            max-width: 500px;
        }
    }
    @media(min-width: 1441px){
        background-size: 1600px;
        &::after{
            opacity: 1;
        }
    }
    @media (max-width: 767px){
        min-height: 600px;
        &::before{
            content: "";
            position: absolute;
            inset: 0;
            margin: 0 auto;
            background:  $dark;
            opacity: .8;
            pointer-events: none;
        }
        .container{
            min-height: calc(600px - 100px);
        }
    }
    @media (max-width: 575px){
        .inner-flex{
            &:last-child{
                flex-wrap: wrap;
                gap: 10px;
            }
        }
    }
}

#bookings{
    padding: 75px 0;
    min-height: 800px;
    background-image: url('../public/images/booking-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        max-width: 1950px;
        margin: 0 auto;
        background: linear-gradient(90deg, #000000 10%, #00000000 33%, #00000000 66%, #000000 90%);
        pointer-events: none;
        opacity: 0;
    }
    .container,
    .row{
        min-height: 675px;
    }
    .inner-left-content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 350px;
    }
    .inner-flex{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .inner-villa-disclaimer{
            h5{
                max-width: 470px;
            }
            p{
                max-width: none;
            }
        }
    }
    .wrapper-nights-card{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        .nights-card{
            width: 100%;
            margin: 0 0 0 auto;
            padding: 30px;
            background-color: rgba(11, 13, 2, 0.8);
            border: 1px solid $border-brown;
            border-radius: 8px;
            backdrop-filter: blur(5px);
            display: flex;
            align-items: stretch;
            gap: 25px;
            .inner-night-title{
                width: 100%;
                text-align: center;
                min-width: 265px;
                max-width: 265px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 0;
                .top-area{
                    .d-flex{
                        gap: 3px;
                        margin-bottom: 15px;
                    }
                    h3{
                        margin-top: 5px;
                        margin-bottom: 10px;
                    }
                }
                .bottom-area{
                    margin-top: 40px;
                    .divider-large{
                        display: block;
                        height: 1px;
                        width: 100%;
                        background-color: $border-brown; 
                        margin: 15px 0;
                    }
                }
            }
            .divider{
                align-self: stretch;
                width: 1px;
                background-color: $border-brown;
            }
            .inner-night-details{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 30px;
                .bottom-detail{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
    @media(min-width: 1441px){
        background-size: auto 100%;
        &::after{
            opacity: 1;
        }
    }
    @media(max-width: 991px){
        &::before{
            content: "";
            position: absolute;
            inset: 0;
            margin: 0 auto;
            background:  $dark;
            opacity: .8;
            pointer-events: none;
        }
        .inner-left-content{
            margin-bottom: 40px;
            justify-content: start;
            align-items: start;
            gap: 20px;
            max-width: 500px;
            margin: 0 auto 40px;
            > div{
                ul{
                    text-align: left;
                }
            }
            h2,
            .inner-villa-disclaimer,
            .inner-villa-disclaimer h5{
                margin: 0 auto;
            }
        }
        .wrapper-nights-card{
            .nights-card{
                margin: 0 auto;
            }
        }
    }
    @media(max-width: 575px){
        padding: 50px 0;
        .wrapper-nights-card{
            .nights-card{
                flex-direction: column;
                .divider{
                    height: 1px;
                    width: 100%;
                }
                .inner-night-title{
                    max-width: none;
                }
                .inner-night-details{
                    .bottom-detail{
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 10px;
                    }
                }
            }
        }
    }
}

#form{
    padding: 135px 0 100px;
    background-color: #D8CEB7;
    .inner-top-area{
        text-align: center;
        margin-bottom: 60px;
        h2{
            margin-bottom: 20px;
        }
        .h4{
            margin-bottom: 10px;
        }
        .smaller{
            color: #706854;
            opacity: .7;
        }
    }
    .guide-block{
        height: 100%;
        max-width: 510px;
        margin: 0 auto;
        background-image: url('../public/images/guide-bg.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $dark-green;
        padding: 50px 20px; 
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .inner-content{
            max-width: 410px;
            margin: 0 auto;
            text-align: center;
            img{
                margin-bottom: 60px;
            }
            h3{
                margin-bottom: 8px;
            }
            p{
                margin-bottom: 60px;
            }
        }
    }
    .wrapper-form{
        height: 100%;
        max-width: 510px;
        margin: 0 auto;
        border-radius: 8px;
        padding: 50px 20px; 
        background-color: $dark-green;
        backdrop-filter: blur(5px);
        text-align: center;
        position: relative;
        padding: 6px;
        .inner-border-form{
            height: 100%;
            padding: 50px 20px; 
            border: 1px solid $green;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
        .inner-top-area{
            width: 100%;
            max-width: 480px;
            margin-bottom:0;
            position: relative;
        }
        .wrapper-reserve-area{
            width: 100%;
            position: relative;
            &.readonly{
                .bottom-form{
                    opacity: 0;
                }
            }
            form{
                max-width: 390px;
                margin: 0 auto;
                .row-field{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    margin: 10px 0;
                    .row-field{
                        margin: 0;
                    }
                    input:not(.button),
                    textarea{
                        margin-top: 5px;
                        width: 100%;
                    }
                }
                input:not(.button),
                select,
                textarea{
                    background-color: #1A321D;
                    border: 1px solid $border-brown;
                    border-radius: 4px;
                    outline: 0;
                    box-shadow: none;
                    padding: 8px 10px;
                    color: $white;
                    transition: all .3s ease-in-out;
                    &::placeholder{
                        color: $light-brown;
                    }
                    &:hover{
                        border: 1px solid rgba(201, 169, 95, 0.30);
                    }
                }
                ::-webkit-calendar-picker-indicator { 
                    background: url('../public/images/date-icon.svg');
                    background-position: center;
                    background-size: 12px;
                    background-repeat: no-repeat;
                }
                select{
                    color: $light-brown;
                    margin-top: 5px;
                    width: 100%;
                    appearance: none;
                    background-image: url('../public/images/icon-expand.svg');
                    background-position: 95% center;
                    background-size: 10px;
                    background-repeat: no-repeat;
                }
                textarea{
                    min-height: 70px;
                    resize: none;
                }
                .label,
                label{
                    font-size: 12px;
                    color: $light-brown;
                    text-align: left;
                }
                label{
                    width: 100%;
                }
                .wrapper-submit{
                    margin-top: 10px;
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        pointer-events: none;
                        inset: 2px;
                        border-radius: 2px;
                        border: 1px solid #FCCC53;
                        z-index: 1;
                        transition: all .5s ease-in-out;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        pointer-events: none;
                        inset: 0;
                        background: url('../public/images/button-rhomb.svg'), url('../public/images/button-rhomb.svg');
                        background-position: 6% center, 94% center;
                        background-size: 5px, 5px;
                        background-repeat: no-repeat, no-repeat;
                    }
                    &:hover{
                        &::before{
                            inset: 0;
                            border-radius: 4px;
                        }
                    }
                }
                input.button{
                    outline: none;
                    border: 0;
                }
                &.readonly{
                    > *{
                        pointer-events: none;
                    }
                    .wrapper-submit{
                        opacity: .15;
                    }
                }
            }
            .bottom-form{
                transition: all .4s ease-in-out;
                max-width: 410px;
                margin: 0 auto;
                text-align: center;
                .or-area{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 25px 0 15px;
                    gap: 8px;
                    span{
                        flex: 1;
                        height: 1px;
                        background-color: $border-brown;
                    }
                }
            }
            #success-message{
                opacity: 0;
                visibility: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                inset: 0;
                max-width: 600px;
                max-height: 320px;
                margin: 0 auto;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: $dark-green;
                padding: 20px;
                border: 1px solid $green;
                border-radius: 4px;
                pointer-events: none;
                transition: all .4s ease-in-out;
                .icon-holder{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: $green;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto 20px;
                }
                h3{
                    margin: 0 auto 20px;
                }
                p{
                    max-width: 370px;
                    margin: 0 auto;
                }
                &.visible{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .bottom-reservation{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .h4{
            color: #706854;
            i{
                color: $dark-green;
            }
        }
        a{
            color: $dark-green;
        }
    }
    @media (max-width: 991px){
        .guide-block{
            height: auto;
            margin-bottom: 20px;
        }
    }
    @media (max-width: 575px){
        padding: 70px 0;
        .bottom-reservation{
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 10px;
        }
    }
    @media (max-width: 425px){
        .guide-block{
            padding: 30px 10px;
            .inner-content{
                img{
                    margin-bottom: 40px;
                }
                p{
                    margin-bottom: 40px;
                }
                .button{
                    font-size: 10px;
                }
            }
        }
        .wrapper-form{
            .inner-border-form{
                padding: 30px 20px;
            }
            .wrapper-reserve-area{
                form{
                    .wrapper-submit,
                    input.button{
                        width: 100%;
                    }
                }
                .bottom-form{
                    .button{
                        display: block;
                        width: 100%;
                    }
                }
            }
        }

    }
}

footer{
    padding: 30px 0;
    background-color: $dark-green;
    .inner-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .inner-logo{
            width: 25%;
        }
        .inner-description{
            width: 50%;
            text-align: center;
        }
        .inner-social{
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;
            .inner-social-icons{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
            }
        }
    }
    @media (max-width: 991px){
        .inner-footer{
            flex-direction: column;
            gap: 15px;
            .inner-logo,
            .inner-description,
            .inner-social{
                width: auto;
            }
            .inner-social{
                margin-top: 20px;
            }
        }
    }
}